<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gmp.user.mapper.RoleMapper" >
  <resultMap id="BaseResultMap" type="com.gmp.user.entity.Role" >
    <id column="id" property="id" jdbcType="CHAR" />
    <result column="rolename" property="rolename" jdbcType="VARCHAR" />
    <result column="descriptinon" property="descriptinon" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, rolename, descriptinon
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from role
    where id = #{id,jdbcType=CHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from role
    where id = #{id,jdbcType=CHAR}
  </delete>
  <insert id="insert" parameterType="com.gmp.user.entity.Role" >
    insert into role (id, rolename, descriptinon
      )
    values (#{id,jdbcType=CHAR}, #{rolename,jdbcType=VARCHAR}, #{descriptinon,jdbcType=VARCHAR}
      )
  </insert>
  <select id="getRoleName" parameterType="java.lang.String"  resultType="java.util.HashMap" >
    SELECT  a.rolename from role a left JOIN  user b on a.id = b.role where b.userid=#{param1}
  </select>
  <insert id="insertSelective" parameterType="com.gmp.user.entity.Role" >
    insert into role
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="rolename != null" >
        rolename,
      </if>
      <if test="descriptinon != null" >
        descriptinon,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=CHAR},
      </if>
      <if test="rolename != null" >
        #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="descriptinon != null" >
        #{descriptinon,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.gmp.user.entity.Role" >
    update role
    <set >
      <if test="rolename != null" >
        rolename = #{rolename,jdbcType=VARCHAR},
      </if>
      <if test="descriptinon != null" >
        descriptinon = #{descriptinon,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=CHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.gmp.user.entity.Role" >
    update role
    set rolename = #{rolename,jdbcType=VARCHAR},
      descriptinon = #{descriptinon,jdbcType=VARCHAR}
    where id = #{id,jdbcType=CHAR}
  </update>
</mapper>